<div class="animated  fadeIn ">
    <h4>1 . Fidelity Investments</h4>
    <div class="container-fluid">
        <h6 class="nameColor">SAILS (Securities Analytics and Intelligent Lending System)</h6>
        <p>Currently Working in Fidelity Investments as Associate Software Engineer for past 1+ year <b>(Dec 2016- Present).</b></p>
        <ul class="fadePercentage">
            <li>Attended training and gained good knowledge on Angular.</li>
            <li>Developed components using <b>HTML5 , CSS3, Bootstrap3 and Angular.</b></li>
            <li>Involved in design discussions and suggested design changes for optimum performance.</li>
            <li>Worked as an Agile team and contributed two modules for SAILS.</li>
            <li>Gained knowledge on Code Integration and Code Deployment process Via Jenkins, stash.</li>
            <li>Worked as an Agile team and contributed three modules(Home Screen, Loans Dashboard and Feed Filters) for SAILS.</li>
            <li>The entire business logic of our application was written using Undescore js and ES6.
            </li>
            <li>Worked on JQX Grid to show data via tables and Contributed to SAILS dark theme which is built using CSS.</li>
            <li><b>AwardedOn the spot </b>for developing complex tables in SAILS.</li>
        </ul>
    </div>
    <h4>2 . Intellect Design Arena</h4>
    <div class="container-fluid">
        <h6 class="nameColor">CBX(Corporate Banking Exchange)</h6>
        <p>Worked in Intellect Design Arena Limited (Polaris group of company) as System Engineer <b>(July 2014- Nov 2016)</b>
        </p>
        <ul class="fadePercentage">
            <li>Attended technical training on <b>HTML, CSS, JavaScript, Database.</b></li>
            <li>Gained good domain knowledge in banking (Payments, Account Services).</li>
            <li>Attended training session in CT Framework and have depth knowledge in Framework and CBX(Corporate Banking Exchange).</li>
            <li>Acquired sound knowledge in all verticals of CBX.</li>
            <li>Developed Forms with which user can create app, workspace, view forms, and its item even context menu for view and workspace.</li>
        </ul>

    </div>
</div>