<div class="gradientBackground">
    <!-- <div class="authorClass">
        <h4 class="author">Gowtham S</h4>
        <h6 class="category">(UI DEVELOPER)</h6>
    </div> -->
    <div class="parentContainer">
        <div class="ChildContainer">
            <div class="thumb">
                <div class="profilePic noBorder removeBackground">
                    <img class="card-img-top circleImage" src="https://image.ibb.co/dQHc0y/profile_Pic.jpg" alt="Card image">
                    <h5 class="container alignCenter animated bounceInLeft">Gowtham S</h5>
                    <h6 class="alignCenter">(UI DEVELOPER)</h6>
                </div>
                <div class="socialInformation">
                    <a href="https://www.facebook.com/raogowtham" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" class="fa fa-facebook-official animated infinite swing" aria-hidden="true"></a>
                    <a href="https://plus.google.com/u/1/108803705623566365486" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" class="fa fa-google-plus animated infinite swing" aria-hidden="true"></a>
                    <a href="https://www.instagram.com/gowthams05" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" class="fa fa-instagram animated infinite swing" aria-hidden="true"></a>
                    <a href="https://stackoverflow.com/users/6536031/gowtham" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" class="fa fa-stack-overflow animated infinite swing" aria-hidden="true"></a>
                    <a href="https://github.com/GowthamS05" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" class="fa fa-github animated infinite swing" aria-hidden="true"></a>
                </div>
            </div>
            <div class="ino">
                <div class="userHeader">
                    <div class="container paddingHeader">
                        <h5>HELLO !!!!!</h5>
                        <h4 class="animated bounceInLeft">I'M <b class="nameColor">GOWTHAM</b></h4>
                        <span class="font14">UI Developer and Associate Software Engineer</span>
                        <hr/>
                    </div>
                </div>
                <div id="centerContainer" class="userInfo paddingHeader">
                    <div class="router">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerInfo">
            <nav class="shift">
                <ul>
                    <li class="about" routerLinkActive="active current" (click)="activeTab('.about')"><a routerLink="/about">About</a></li>
                    <li class="skill" routerLinkActive="active current" (click)="activeTab('.skill')"><a routerLink="/skill">Skillset</a></li>
                    <li class="experience" routerLinkActive="active current" (click)="activeTab('.experience')"><a routerLink="/experience">Experience</a></li>
                    <li class="achievement" routerLinkActive="active current" (click)="activeTab('.achievement')"><a routerLink="/achievement">Strength & Achievement</a></li>
                    <!-- <li class="education" routerLinkActive="active current" (click)="activeTab('.education')"><a routerLink="/education">Education Details</a></li> -->
                    <li><a routerLink="#">Download Resume</a></li>

                    <li></li>
                </ul>
            </nav>
        </div>
    </div>
</div>